body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #2c5530;
  color: #333;
}
header {
  background: #ea9010;
  color: white;
  padding: 1.5rem;
  text-align: center;
}
nav {
  background: #0d1f2d;
  padding: 0.5rem;
  text-align: center;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}
article {
  margin-bottom: 2rem;
  padding: 1rem;
  background: #F2EFEA;
  border-radius: 8px;
}
article h2 {
  margin-bottom: 0.5rem;
}
footer {
  text-align: center;
  color: #777;
  padding: 2rem 0;
}
input, textarea {
    box-sizing: border-box;
}
.object_container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background: #8d818c;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.text_container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background: #F2EFEA;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}